<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title></title>
    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script lang="javascript">
        angular.module('formItem', [])
        .controller('ItemController', ['$scope', '$http', function($scope, $http) {

        $scope.post = function(comment) {

        console.log(comment);
        $http.post("/comment", comment);
        };

        }]);

    </script>

</head>

<body ng-app="formItem">
<div ng-controller="ItemController">
    <form id="inputForm">
        <p>Опис<br><textarea ng-model="comment.title"></textarea></p>
        <p>Контент<br><textarea ng-model="comment.content"></textarea></p>

        <p><input type="button" ng-click="post(comment)" value="Опублікувати"/></p>
    </form>

    <pre>form = {{comment | json}}</pre>
</div>


</body>
</html>