<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title></title>
    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script lang="javascript">
        angular.module('formItem', [])
        .controller('ItemController', ['$scope', '$http', function($scope, $http) {

        $scope.post = function(item) {

        console.log(item);
        $http.post("/item", item);
        };

        }]);

    </script>

</head>

<body ng-app="formItem">
<div ng-controller="ItemController">
    <form id="inputForm">
        <select ng-model="item.type">
            <option value="lost">Загублено</option>
            <option value="found">Знайдено</option>
        </select>

        <p><select ng-model="item.tag">
            <option value="" disabled>--- Виберіть тип ---</option>
            <option value="keys">Ключи</option>
            <option value="wallet">Гаманець/Гроші</option>
            <option value="umbrella">Парасолька</option>
            <option value="pet">Тварина</option>
            <option value="other">Інше</option>
        </select></p>

        <p>Опис<br><textarea ng-model="item.description"></textarea></p>
        <p>Місце де загублено<br><textarea ng-model="item.locationDescription"></textarea></p>

        <p><input type="button" ng-click="post(item)" value="Опублікувати"/></p>
    </form>

    <pre>form = {{item | json}}</pre>
</div>


</body>
</html>