<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title></title>
    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script lang="javascript">
        angular.module('formMail', [])
        .controller('MailController', ['$scope', '$http', function($scope, $http) {

        $scope.post = function(mail) {

        console.log(mail);
        $http.post("/mail", mail);
        };

        }]);

    </script>

</head>

<body ng-app="formMail">
<div ng-controller="MailController">
    <form id="inputMail">
        <p>Text<br><textarea ng-model="mail.text"></textarea></p>

        <p><input type="button" ng-click="post(mail)" value="Опублікувати"/></p>
    </form>

    <pre>form = {{mail | json}}</pre>
</div>


</body>
</html>