<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title></title>
    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script lang="javascript">
        angular.module('formUser', [])
        .controller('UserController', ['$scope', '$http', function($scope, $http) {

        $scope.post = function(user) {

        console.log(user);
        $http.post("/user", user);
        };

        }]);



    </script>

</head>

<body ng-app="formUser">
<div ng-controller="UserController">
    <form id="inputForm">
        <p>First name<br><textarea ng-model="user.firstName"></textarea></p>
        <p>Last name<br><textarea ng-model="user.lastName"></textarea></p>
        <p>Email<br><textarea ng-model="user.email"></textarea></p>
        <p>Birthday<br><textarea ng-model="user.birth"></textarea></p>

        <p><input type="button" ng-click="post(user)" value="Опублікувати"/></p>
    </form>

    <pre>form = {{user | json}}</pre>
</div>


</body>
</html>