<!doctype html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script type="text/javascript" src="js/getUsers.js"></script>

</head>

<body>

<div ng-controller="getUsers" >

    <div ng-repeat="users in user._embedded.user">

         <p>First name is {{users.firstName}}</p>
         <p>Last name is {{users.lastName}}</p>
         <p>Email is {{users.email}}</p>
         <p>Birth is {{users.birth}}</p>

    </div>
</div>

</body>
</html>