<!doctype html>
<html ng-app>
<head>
    <title>Items</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="js/itemShow.js"></script>
</head>

<body>
<div ng-controller="showItem">
    <div>Item :</div>
    <ul>
        <li ng-repeat="items in item._embedded.item">
            <div>{{items.description}}</div>
            <div>{{items.locationDescription}}</div>
        </li>
    </ul>
</div>
</body>
</html>