<!doctype html>
<html ng-app>
<head>
    <title>Comments</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="js/commentsShow.js"></script>
</head>

<body>
<div ng-controller="showComments">
    <div>Comments :</div>
    <ul>
        <li ng-repeat="comments in comment._embedded.comment">
            <div>{{comments.title}}</div>
            <div>{{comments.content}}</div>
        </li>
    </ul>
</div>
</body>
</html>