<!doctype html>
<html ng-app>
<head>
    <title>Mails</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="js/mailShow.js"></script>
</head>

<body>
<div ng-controller="showMail">
    <div>Mail :</div>
    <ul>
        <li ng-repeat="mails in mail._embedded.mail">
            <div>{{mails.user_id_send}}</div>
            <div>{{mails.text}}</div>
        </li>
    </ul>
</div>
</body>
</html>